In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('Video_Game_Data.csv')
df.drop(columns = ['Unnamed: 0'], inplace = True)

In [15]:
df.head()

,Game Title,Weekly Sales,All Time Sales,Weeks Out
0,"Super Smash Bros. (2018) (NS)Nintendo, Fighting","1,103,894","8,951,009",4
1,Red Dead Redemption 2 (PS4)Take-Two Interactiv...,"705,407","13,940,203",10
2,"Call of Duty: Black Ops IIII (PS4)Activision, ...","511,667","9,317,241",12
3,"Mario Kart 8 Deluxe (NS)Nintendo, Racing","438,400","13,046,117",88
4,Spider-Man (PS4) (PS4)Sony Interactive Enterta...,"426,691","8,757,859",17

In [19]:
#This code cleans out my Game Title column as you see above into separate columns.
df['Genre'] = df['Game Title'].map(lambda x: x.split(',')[1].strip())
df['Game_Title'] = df['Game Title'].map(lambda x: x.split(',')[0])
df['Console'] = df['Game Title'].map(lambda x: x.split('(')[-1].split(')')[0])
df['Publisher'] = df['Game Title'].map(lambda x: x.split('(')[-1].split(')')[-1])
df['Game_Title'] = df['Game Title'].map(lambda x: x.split('(')[0])
#Issue with Pokemon: Let's Go, so have to clean out the appropriate columns 
df = df.replace({'Console': "Pokemon: Let's Go"}, {'Console': 'NS'})
df = df.replace({'Publisher': "Pokemon: Let's Go"}, {'Publisher': 'Nintendo'})
df = df.replace({'Genre': "Pikachu! (NS)Nintendo"}, {'Genre': 'Role-Playing'})
df = df.replace({'Genre': "Eevee! (NS)Nintendo"}, {'Genre': 'Role-Playing'})

In [20]:
df.head()

,Game Title,Weekly Sales,All Time Sales,Weeks Out,Genre,Game_Title,Console,Publisher
0,"Super Smash Bros. (2018) (NS)Nintendo, Fighting","1,103,894","8,951,009",4,Fighting,Super Smash Bros.,NS,"Nintendo, Fighting"
1,Red Dead Redemption 2 (PS4)Take-Two Interactiv...,"705,407","13,940,203",10,Action-Adventure,Red Dead Redemption 2,PS4,"Take-Two Interactive, Action-Adventure"
2,"Call of Duty: Black Ops IIII (PS4)Activision, ...","511,667","9,317,241",12,Shooter,Call of Duty: Black Ops IIII,PS4,"Activision, Shooter"
3,"Mario Kart 8 Deluxe (NS)Nintendo, Racing","438,400","13,046,117",88,Racing,Mario Kart 8 Deluxe,NS,"Nintendo, Racing"
4,Spider-Man (PS4) (PS4)Sony Interactive Enterta...,"426,691","8,757,859",17,Action-Adventure,Spider-Man,PS4,"Sony Interactive Entertainment, Action-Adventure"

In [11]:
df.head()

,Game Title,Weekly Sales,All Time Sales,Weeks Out,Genre,Game_Title,Console,Publisher
0,"Super Smash Bros. (2018) (NS)Nintendo, Fighting","1,103,894","8,951,009",4,Fighting,Super Smash Bros.,NS,"Nintendo, Fighting"
1,Red Dead Redemption 2 (PS4)Take-Two Interactiv...,"705,407","13,940,203",10,Action-Adventure,Red Dead Redemption 2,PS4,"Take-Two Interactive, Action-Adventure"
2,"Call of Duty: Black Ops IIII (PS4)Activision, ...","511,667","9,317,241",12,Shooter,Call of Duty: Black Ops IIII,PS4,"Activision, Shooter"
3,"Mario Kart 8 Deluxe (NS)Nintendo, Racing","438,400","13,046,117",88,Racing,Mario Kart 8 Deluxe,NS,"Nintendo, Racing"
4,Spider-Man (PS4) (PS4)Sony Interactive Enterta...,"426,691","8,757,859",17,Action-Adventure,Spider-Man,PS4,"Sony Interactive Entertainment, Action-Adventure"